/* navbar colour = #f0f0f0 */

@font-face {
  font-family: Paramountian;
  src: url("./Paramountain.ttf");
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}

@keyframes backgroundFill {
  /* 0% {
    height: 1.5px;
  } */
  0% {
    background-color: #ffc0cb;
    height: 130%;
    bottom: -5px;
  }
  30% {
    background-color: #ffc0cb;
    height: 130%;
    bottom: -5px;
  }

  100% {
    background-color: #000019;
    height: 1.5px;
    bottom: -8px;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  height: auto;
  width: 100%;
  /* overflow-anchor: none; */
}

body {
  font-family: "merriweather", Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
  width: 100%;
  /* border: 2px red solid; */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #000019;
  padding: 15px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading__logo--main {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 0 15%;
}

.heading__text {
  text-decoration: none;
  order: 1;
  margin: auto 0;
  color: #ffffff;
  font-family: "Limelight", Arial;
}

.heading__logo--secondary {
  z-index: 2;
  font-family: sacramento;
  font-size: 25px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: -5px;
  margin-bottom: -10px;
}

.heading__logo--lines1 {
  order: 0;
  width: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading__logo--lines2 {
  order: 2;
  width: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading__logo--line1 {
  border-radius: 100px;
  width: 0%;
  height: 2px;
  margin: 2px;
  margin-right: 5px;
  background-color: #ffd700;
  align-self: flex-end;
  transition: width 1s;
  box-shadow: 0 0 5px #fff, 0 0 7px #ffd700, 0 0 7px #ffd700, 0 0 5px #ffd700,
    inset 0 0 5px #fff, inset 0 0 10px #ffd700, inset 0 0 8px #ffd700,
    inset 0 0 10px #ffd700;
  animation: flicker 5s linear infinite;
}

.heading__logo--line2 {
  border-radius: 100px;
  width: 0%;
  height: 2px;
  margin: 2px;
  margin-right: 5px;
  background-color: #ffd700;
  align-self: flex-end;
  transition: width 1s;
  box-shadow: 0 0 5px #fff, 0 0 7px #ffd700, 0 0 7px #ffd700, 0 0 5px #ffd700,
    inset 0 0 5px #fff, inset 0 0 10px #ffd700, inset 0 0 8px #ffd700,
    inset 0 0 10px #ffd700;
  animation: flicker 5s linear infinite;
}

.heading__logo--line3 {
  border-radius: 100px;
  width: 0%;
  height: 2px;
  margin: 2px;
  margin-right: 5px;
  background-color: #ffd700;
  align-self: flex-end;
  transition: width 1s;
  box-shadow: 0 0 5px #fff, 0 0 7px #ffd700, 0 0 7px #ffd700, 0 0 5px #ffd700,
    inset 0 0 5px #fff, inset 0 0 10px #ffd700, inset 0 0 8px #ffd700,
    inset 0 0 10px #ffd700;
  animation: flicker 5s linear infinite;
}

.heading__logo--line4 {
  border-radius: 100px;
  width: 0%;
  height: 2px;
  margin: 2px;
  margin-right: 5px;
  background-color: #ffd700;
  align-self: flex-start;
  transition: width 1s;
  box-shadow: 0 0 5px #fff, 0 0 7px #ffd700, 0 0 7px #ffd700, 0 0 5px #ffd700,
    inset 0 0 5px #fff, inset 0 0 10px #ffd700, inset 0 0 8px #ffd700,
    inset 0 0 10px #ffd700;
  animation: flicker 5s linear infinite;
}

.heading__logo--line5 {
  border-radius: 100px;
  width: 0%;
  height: 2px;
  margin: 2px;
  margin-right: 5px;
  background-color: #ffd700;
  align-self: flex-start;
  transition: width 1s;
  box-shadow: 0 0 5px #fff, 0 0 7px #ffd700, 0 0 7px #ffd700, 0 0 5px #ffd700,
    inset 0 0 5px #fff, inset 0 0 10px #ffd700, inset 0 0 8px #ffd700,
    inset 0 0 10px #ffd700;
  animation: flicker 5s linear infinite;
}

.heading__logo--line6 {
  border-radius: 100px;
  width: 0%;
  height: 2px;
  margin: 2px;
  margin-right: 5px;
  background-color: #ffd700;
  align-self: flex-start;
  transition: width 1s;
  box-shadow: 0 0 5px #fff, 0 0 7px #ffd700, 0 0 7px #ffd700, 0 0 5px #ffd700,
    inset 0 0 5px #fff, inset 0 0 10px #ffd700, inset 0 0 8px #ffd700,
    inset 0 0 10px #ffd700;
  animation: flicker 5s linear infinite;
}

.heading__text:hover + .heading__logo--lines1 .heading__logo--line1 {
  width: 50%;
}

.heading__text:hover + .heading__logo--lines1 .heading__logo--line2 {
  width: 75%;
}

.heading__text:hover + .heading__logo--lines1 .heading__logo--line3 {
  width: 100%;
}

.heading__text:hover ~ .heading__logo--lines2 .heading__logo--line4 {
  width: 50%;
}

.heading__text:hover ~ .heading__logo--lines2 .heading__logo--line5 {
  width: 75%;
}

.heading__text:hover ~ .heading__logo--lines2 .heading__logo--line6 {
  width: 100%;
}

.navbar {
  position: relative;
  background-color: #fffef2;
  margin: 1% 15%;
  box-sizing: border-box;
  border-color: #ffd700;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}

.navbar__navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar__navigation ul {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin: 30px;
}

.navbar__navigation ul li a {
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-weight: 1000;
}

.navbar__box--lines {
  top: 40%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  align-self: center;
}

.navbar__box--line {
  height: 2px;
  margin: 5px 0;
  background-color: #a9a9a9;
}

.header__searchbar {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  padding: 0 15%;
  box-sizing: border-box;
  /* border-bottom: grey 0.5px solid; */
}
.header__searchbar:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: grey;
  bottom: 0;
}

.search {
  width: 100%;
  /* box-sizing: border-box; */
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  position: relative;
}

.search__input {
  font-size: 15px;
  font-style: italic;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  width: 100%;
  order: 1;
  /* border-bottom: 1px solid grey; */
}

.search__button {
  border: none;
  order: 0;
  z-index: -1;
}

.search__icon {
  height: 17px;
  width: 17px;
  margin-left: 10px;
  transition: fill 0.2s ease-out;
}
.tab__icon {
  height: 17px;
  width: 17px;
  margin-left: 10px;
  /* position: absolute; */
  right: 0;
  fill: grey;
  align-self: center;
}

.search__section {
  align-self: center;
  display: flex;
  position: absolute;
  align-items: center;
  right: 8px;
}

.search__info {
  order: 2;
  font-size: 15px;
  font-style: italic;
  box-sizing: border-box;
  color: grey;
  border-bottom: #a9a9a9;
  margin: 5px;
  /* position: absolute; */
  right: 0;
  width: auto;
}

.search__input:focus {
  outline: none;
}

.search__button:focus {
  outline: none;
}

.search__input:focus + .search__button .search__icon {
  fill: #a9a9a9;
}

.results {
  display: flex;
  align-items: flex-start;
  margin: 1% 15%;
  padding: 10px;
  height: 100%;
}

.results__info {
  order: 0;
  width: 20%;
  /* height: 396.09px; */
  display: flex;
  flex-direction: column;
  /* border: 2px blue solid; */
  margin-right: 1%;
}

.results__header {
  display: flex;
  margin-top: 2.5%;
  margin-bottom: 40px;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}

.results__header--title {
  border: 2px solid grey;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 13px;
  align-self: flex-start;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px;
  margin-bottom: 0;
  margin-left: 0;
  font-style: italic;
  margin-top: 0;
}

.results__header--clear {
  /* flex-grow: 1; */
  border: 2px solid lightgrey;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 10px;
  font-style: italic;
  padding: 5px 7px;
  border-radius: 5px;
  margin-bottom: 0;
  flex-basis: auto;
  flex-shrink: 1;
  cursor: pointer;
}

.results__header--clear:focus {
  outline: none;
}

.results__people {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #000019;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.results__people p {
  padding: 5px;
  position: relative;
  width: auto;
}

.results__people p:not(:first-child) {
  margin-top: 50px;
}

.results__people p:after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 1.5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-out;
  transition-duration: 0.2s;
  background-color: #000019;
  left: 0;
}

/* .results__people p:nth-of-type(odd):after {
  animation-name: backgroundFill;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  z-index: -1;
} */

.results__people p:hover:nth-of-type(odd):after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 130%;
  margin: 5px 0 0;
  background-color: #ffc0cb;
  left: 0;
}
.results__people p:hover:nth-of-type(even):after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 130%;
  margin: 5px 0 0;
  background-color: #ffd700;
  left: 0;
}

.results__info ul {
  height: 100%;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  border-left: 2px solid #000019;
  border-right: 2px solid #000019;
}

.results__info ul li {
  display: flex;
  margin: 0 5px;
  /* justify-content: center; */
}

.results__info ul li a {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 15px;
  /* width: 100%; */
  color: #000019;
  position: relative;
  margin-left: 5px;
}

.results__info ul li a:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-out;
  transition-duration: 0.2s;
  /* opacity: 0; */
  background-color: #000019;
  left: 0;
}
.results__info ul li a:hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 2px;
  margin: 5px 0 0;
  /* transition: all 0.2s ease-out;
  transition-duration: 0.5s; */
  /* opacity: 0; */
  background-color: #ffd700;
  left: 0;
}

.results__output {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  order: 1;
  /* border: 2px #000000 solid; */
  width: 80%;
  /* border-right: 2px solid #000019; */
  /* overflow: hidden; */
}

.results__title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 1%;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 1000;
  text-transform: uppercase;
  width: 100%;
}

.results__card {
  display: flex;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 48%;
  box-sizing: border-box;
  height: 300px;
  margin: 1%;
  border: 1px #000000 solid;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fffef2;
}

.results__card--image {
  width: 185px;
  margin: 8px;
  order: 0;
}
